[Unit]
Description=Report IP Address to FPGA once booted
After=network.target develop.mount raspi-config.service

[Service]
Type=idle
ExecStart=python3 /develop/rpi_start.py
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
